Travel Diaries/traveldiaries.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Diary">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" name="Entry">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Date" type="xs:string" />
							<xs:element name="Title" type="xs:string" />
							<xs:element name="Location" type="xs:string" />
							<xs:element name="Author" type="xs:string" />
							<xs:element name="Account" type="xs:unsignedByte" />
							<xs:element name="Descripton" type="xs:string" />
							<xs:element name="Image" type="xs:string" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>